
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Dashboard
    </h2>
    <div class="container-sm">
        <br>
        <div class="card" style="width: 18rem;">
  <img src="../public/newProduct.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">New Product</h5>
    <p class="card-text">Admin can add new product from here.</p>
    <a href="#" class="btn btn-primary">Add Product</a>
  </div>
  <img src="/../public/newProduct.jpg" alt="...">
</div>
    </div>
</body>
</html>