<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <div class="container-sm">
        <a href="/">
        <button type="button" class="btn btn-link">Home</button>
    </a>
    </div>
</body>
</html>