{{> header}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-sm">
        <a href="/newTask">
            <button type="button" class="btn btn-light">Add New Task</button>
        </a>
    </div>
    <br>
    <div class="container-sm">
        <a href="/alltask">
            <button type="button" class="btn btn-light">All Task</button>
        </a>
    </div>
</body>

</html>
